<div class="rentals-component">

    <div class="rentals">
        <div class="header">Your rentals</div>

        <div class="rentals-container">
            <div class="labels">
                <div>Title</div>
                <div class="name">Author</div>
            </div>
            <div class="rental" *ngFor="let r of rentals" (click)="onRentalClick(r)"
                 [ngClass]="r == selectedRental && 'active'">
                <div class="id">{{r.title}}</div>
                <div class="name">{{r.author}}</div>
            </div>
        </div>
    </div>

    <div class="return-modal-bg" *ngIf="showReturnModal">
        <div class="return-modal">
            <div class="description">
                Are you sure you want to return <span>{{selectedRental.title}}.</span>?
            </div>
            <div class="actions">
                <button class="no" (click)="onReturnNoClick()">No</button>
                <button class="yes" (click)="onReturnYesClick()">Yes</button>
            </div>
        </div>
    </div>
</div>
