<div class="ui-g">
    <div class="ui-g-12 topMenu">
        <div class="topMenu__header">
            <i class="fas fa-bicycle" style="margin-right: 12px"></i>
            <h1>Books renting</h1>
            <a *ngIf="!isLoggedIn" class="login-uri" href="{{loginUri}}">Login</a>
            <a *ngIf="isLoggedIn" class="login-uri" (click)="logoutClick()">Logout</a>
        </div>
    </div>
    <div class="ui-g-12 ui-md-2 app-menu">
        <app-menu></app-menu>
    </div>
    <div class="ui-g-nopad flexGrow main-view">
        <router-outlet></router-outlet>
    </div>
</div>
