<div class="user-management-component">

    <div class="users">
        <div class="header">Select a user to view his status and take actions</div>

        <div class="filter">
            <input id="filter-users" value="{{loginPhase}}" type="text" #v placeholder="Filter" (input)="onFilterInput(v.value)">
        </div>

        <div class="users-container">
            <div class="labels">
                <div class="guid">ID</div>
                <div class="login">Login</div>
            </div>
            <div class="user" *ngFor="let u of users" (click)="onUserClick(u)"
                 [ngClass]="u == selectedUser && 'active'">
                <div class="guid">{{u.guid}}</div>
                <div class="login">{{u.login}}</div>
            </div>
        </div>
    </div>

    <div class="details">
        <div class="details-container">
            <div class="header">Rentals</div>
            <div class="labels">
                <div class="label"></div>
                <div class="label">Title</div>
                <div class="actions">Actions</div>
            </div>
            <div class="detail" *ngFor="let r of selectedUserRentals">
                <div class="label">Rental</div>
                <div class="label">{{r.title}}</div>
                <div class="actions">
                    <a>Return</a>
                </div>
            </div>
        </div>
        <div class="details-container">
            <div class="header">Reservations</div>
            <div class="labels">
                <div class="label"></div>
                <div class="label">Title</div>
                <div class="actions">Actions</div>
            </div>
            <div class="detail" *ngFor="let r of selectedUserReservations">
                <div class="label">Reservation</div>
                <div class="label">{{r.title}}</div>
                <div class="actions">
                    <a>Rent</a>
                    <a>Cancel</a>
                </div>
            </div>
        </div>
        <div class="buttons-container">
            <button>Manual reservation</button>
            <button>Manual rental</button>
            <button>Manual return</button>
        </div>
    </div>
</div>
