<div class="rentals-component">

    <div class="rentals">
        <div class="header">Current Rentals</div>

        <div class="rentals-container">
            <div class="labels">
                <div>Title</div>
                <div class="name">Author</div>
                <div class="name">Rented Date</div>
            </div>
            <div class="rental" *ngFor="let r of currentRentals">
                <div class="id">{{r.title}}</div>
                <div class="name">{{r.author}}</div>
                <div class="name">{{r.rentedDate}}</div>
            </div>
        </div>
    </div>

    <div class="reservations">
        <div class="header">Rental History</div>

        <div class="reservations-container">
            <div class="labels">
                <div>Title</div>
                <div class="name">Author</div>
                <div class="name">Rented Date</div>
                <div class="name">Return Date</div>
            </div>
            <div class="rental" *ngFor="let r of oldRentals">
                <div class="id">{{r.title}}</div>
                <div class="name">{{r.author}}</div>
                <div class="name">{{r.rentedDate}}</div>
                <div class="name">{{r.returnDate}}</div>
            </div>
        </div>
    </div>

</div>
