<div class="reservation-component">

    <div class="reservations">
        <div class="header">Your Reservations</div>

        <div class="reservations-container">
            <div class="labels">
                <div>Title</div>
                <div class="name">Author</div>
                <div class="name">Rented Date</div>
                <div class="name">Expires</div>
                <div class="actions">Actions</div>
            </div>
            <div class="rental" *ngFor="let r of reservations">
                <div class="id">{{r.title}}</div>
                <div class="name">{{r.author}}</div>
                <div class="name">{{r.reservationBeginDate}}</div>
                <div class="name">{{r.reservationExpireDate}}</div>
                <div class="actions"><a (click)="onReservationCancelClick(r)">Cancel</a></div>
            </div>
        </div>
    </div>

    <div class="reservation-cancel-modal-bg" *ngIf="showReservationCancelModal">
        <div class="reservation-cancel-modal">
            <div class="description">
                Are you sure you want to cancel reservation of <span>{{selectedReservation.title}}</span> by <span>{{selectedReservation.author}}</span>?
            </div>
            <div class="actions">
                <button class="no" (click)="onReservationCancelNoClick()">No</button>
                <button class="yes" (click)="onReservationCancelYesClick()">Yes</button>
            </div>
        </div>
    </div>
</div>
