<div class="admin-component">

    <div class="details">

        <div class="user-input">
            <div class="header">User</div>
            <div><input type="text" #v placeholder="Login" #userId></div>
            <div><button (click)="fetchUserData(userId.value)">Load data</button></div>
        </div>

        <div class="details-container">
            <div class="header">Rentals</div>
            <div class="labels">
                <div class="label"></div>
                <div class="label">Title</div>
                <div class="actions">Actions</div>
            </div>
            <div class="detail" *ngFor="let r of rentals">
                <div class="label">Rental</div>
                <div class="label">{{r.title}}</div>
                <div class="actions">
                    <a (click)="openReturnDialog(r)">Return</a>
                </div>
            </div>
        </div>

        <div class="details-container">
            <div class="header">Reservations</div>
            <div class="labels">
                <div class="label"></div>
                <div class="label">Title</div>
                <div class="actions">Actions</div>
            </div>
            <div class="detail" *ngFor="let r of reservations">
                <div class="label">Reservation</div>
                <div class="label">{{r.title}}</div>
                <div class="actions">
                    <a (click)="openReservationCancelDialog(r)">Cancel</a>
                </div>
            </div>
        </div>

        <div class="buttons-container">
            <button (click)="openRentalDialog()">Rent book</button>
        </div>

        <div class="buttons-container">
            <button (click)="openAddBookForm()">Add book</button>
        </div>

    </div>

    <div class="rental-modal-bg" *ngIf="showBookRentalForm">
        <div class="rental-modal">
            <div>
                Input user login <input #rentUserId>
            </div>
            <div>
                Input book ID <input #rentBookId>
            </div>
            <div class="actions">
                <button class="no" (click)="onRentalNoClick()">Cancel</button>
                <button class="yes" (click)="onRentalYesClick(rentBookId.value, rentUserId.value)">Rent</button>
            </div>
        </div>
    </div>

    <div class="return-modal-bg" *ngIf="showBookReturnDialog">
        <div class="return-modal">
            <div class="description">
                Are you sure you want to return <span>{{selectedRental.title}}</span> by <span>{{selectedRental.author}}</span>?
            </div>
            <div class="actions">
                <button class="no" (click)="onReturnNoClick()">Cancel</button>
                <button class="yes" (click)="onReturnYesClick()">Return</button>
            </div>
        </div>
    </div>

    <div class="cancel-reservation-modal-bg" *ngIf="showReservationCancelDialog">
        <div class="cancel-reservation-modal">
            <div class="description">
                Are you sure you want to cancel reservation of <span>{{selectedReservation.title}}</span> by user <span>{{selectedReservation.userId}}</span>?
            </div>
            <div class="actions">
                <button class="no" (click)="onCancelReservationNoClick()">No</button>
                <button class="yes" (click)="onCancelReservationYesClick()">Yes</button>
            </div>
        </div>
    </div>

    <div class="add-book-modal-bg" *ngIf="showAddBookForm">
        <div class="add-book-modal">
            <table class="library-select">
                <tr>
                    <td>Library</td>
                    <td>
                        <select #newBookLibrary>
                            <option *ngFor="let l of libraries">{{l.name}}</option>
                        </select>
                    </td>
                </tr>
                    <td>Title</td>
                    <td><input #newBookTitle></td>
                <tr>
                </tr>
                <tr>
                    <td>Author</td>
                    <td><input #newBookAuthor></td>
                </tr>
            </table>

            <div class="actions">
                <button class="no" (click)="onAddBookNoClick()">Cancel</button>
                <button class="yes" (click)="onAddBookYesClick(newBookLibrary.value, newBookTitle.value, newBookAuthor.value)">Add</button>
            </div>
        </div>
    </div>

</div>
