<div class="admin-component">

    <div class="details">

        <div class="user-input">
            <div class="header">User</div>
            <div><input type="text" #v placeholder="Login" [ngModel]="userLogin"></div>
            <div><button (click)="loadUserData()">Load data</button></div>
        </div>

        <div class="details-container">
            <div class="header">Rentals</div>
            <div class="labels">
                <div class="label"></div>
                <div class="label">Title</div>
                <div class="actions">Actions</div>
            </div>
            <div class="detail" *ngFor="let r of rentals">
                <div class="label">Rental</div>
                <div class="label">{{r.title}}</div>
                <div class="actions">
                    <a>Return</a>
                </div>
            </div>
        </div>

        <div class="details-container">
            <div class="header">Reservations</div>
            <div class="labels">
                <div class="label"></div>
                <div class="label">Title</div>
                <div class="actions">Actions</div>
            </div>
            <div class="detail" *ngFor="let r of reservations">
                <div class="label">Reservation</div>
                <div class="label">{{r.title}}</div>
                <div class="actions">
                    <a>Rent</a>
                    <a>Cancel</a>
                </div>
            </div>
        </div>

        <div class="buttons-container">
            <button (click)="openManualRentalDialog()">Rent book</button>
        </div>

    </div>

    <div class="rental-modal-bg" *ngIf="showBookRentalForm">
        <div class="rental-modal">
            <div>
                Input book title
                <input #bookTitle>
            </div>
            <div class="actions">
                <button class="no" (click)="onRentalNoClick()">Cancel</button>
                <button class="yes" (click)="onRentalYesClick(bookTitle.value)">Rent</button>
            </div>
        </div>
    </div>

</div>
