<div class="book-management-component">

    <div class="books">
        <div class="library-select">
            <select [(ngModel)]="selectedLibraryName" (ngModelChange)="fetchBooks()">
                <option *ngFor="let l of libraries">{{l.name}}</option>
            </select>
        </div>

        <div class="filter">
            <input id="filter-books" value="{{titlePhase}}" type="text" #v placeholder="Filter" (input)="onFilterInput(v.value)">
        </div>

        <div class="books-container">
            <div class="labels">
                <div class="author">Author</div>
                <div class="title">Title</div>
                <div class="actions">Actions</div>
            </div>
            <div class="book" *ngFor="let b of books">
                <div class="author">{{b.author}}</div>
                <div class="title">{{b.title}}</div>
                <div class="actions">
                    <a (click)="onReserveClick(b)">Reserve</a>
                    <a (click)="onRentClick(b)">Rent</a>
                    <a (click)="onReturnClick(b)">Return</a>
                </div>
            </div>
        </div>
    </div>

    <div class="reserve-modal-bg" *ngIf="showBookReservationForm">
        <div class="reserve-modal">
            <div class="description">
                Are you sure you want to reserve <span>{{selectedBook.title}}</span>?
            </div>
            <div class="user-select">
                Input renting user
                <input (keyup)="setRentingUserLogin($event)">
            </div>
            <div class="actions">
                <button class="no" (click)="onReserveNoClick()">No</button>
                <button class="yes" (click)="onReserveYesClick()">Yes</button>
            </div>
        </div>
    </div>

    <div class="rent-modal-bg" *ngIf="showBookRentalForm">
        <div class="return-modal">
            <div class="description">
                Are you sure you want to rent <span>{{selectedBook.title}}</span>?
            </div>
            <div class="user-select">
                Input renting user
                <input (keyup)="setRentingUserLogin($event)">
            </div>
            <div class="actions">
                <button class="no" (click)="onRentNoClick()">No</button>
                <button class="yes" (click)="onRentYesClick()">Yes</button>
            </div>
        </div>
    </div>

    <div class="return-modal-bg" *ngIf="showBookReturnForm">
        <div class="return-modal">
            <div class="description">
                Are you sure you want to return <span>{{selectedBook.title}}</span>?
            </div>
            <div class="actions">
                <button class="no" (click)="onReturnNoClick()">No</button>
                <button class="yes" (click)="onReturnYesClick()">Yes</button>
            </div>
        </div>
    </div>

</div>
